@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

html, body
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(61, 61, 61);
}

h1
{
    font-family: 'Archivo Black', 'sans serif';
}

p
{
    font-family: Barlow;
}

nav
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    background: rgb(87, 231, 111);
    padding-top: 2em;
    padding-bottom: 2em;
}

.JDImage
{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 6px 5px rgba(136, 136, 136, 0.452);
}

.navText
{
    margin-top: auto;
    margin-bottom: auto;
}

.navText h1
{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(61, 61, 61);
}

.navText p
{
    margin-top: 0px;
    color: rgb(61, 61, 61);
}

main
{
    background-color: rgb(61, 61, 61);
    width: 100%;
    
}

.aContainer
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 2em
}

.aContainer i
{
    margin-right: 0.6em;
}

main a
{
    list-style: none;
    font-family: 'Barlow', 'sans serif';
    color: rgb(61, 61, 61);
    font-weight: 700;
    font-size: 1.5em;
    background: rgb(87, 231, 111);
    padding-block: 1.7em;
    text-align: center;
    width: 90%;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.2s;
}
main a:hover
{
    padding-block: 3em;
    font-size: 2em;
}

footer
{
    margin-top: 30px;
    background-color: rgb(53, 53, 53);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-block: 2em;
}

footer a
{
    color: white;
    text-decoration: none;
    font-family: 'Barlow', 'Sans serif';
}